html, body {
    height: 100%;
    background-color: #f0f2f0;
}

.wrapper {
    min-height: 100%;
    margin-bottom: -50px; /* Adjust this value to match the height of your footer */
    padding-bottom: 50px; /* Adjust this value to match the height of your footer */
}

footer {
    background-color: #333; /* Add your preferred background color */
    color: white;
    padding: 15px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.about-me {
    background-color: #f8f9fa; /* Light gray background */
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.about-me h3 {
    font-size: 24px;
    margin-bottom: 15px;
}

.about-me p {
    font-size: 18px;
    line-height: 1.5;
}

.nav-item {
    font-size: 24px;
    font-family: 'Raleway', sans-serif
}

.custom-bg-dark-green {
    background-color: #2b413d;
}

h1 {
    margin: 0;
}

.job, .school, .skills, .interests, .scholarships {
    margin-bottom: 20px;
}

.date {
    font-weight: bold;
}

.job-location {
    font-style: italic;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.location {
    font-style: italic;
}

.container-fluid {
    padding: 20px;
}

.experience {
    background-color: #ffffff;
    padding: 20px;
    border-bottom: solid 1px #6e736e;
}

.experience:last-child {
    border-bottom: none;
}

.experience-outer {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
}

.experience-outer h2 {
    padding-bottom: 20px;
    font-size: 40px;
}

.project {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
}

.project h3 {
    margin-bottom: 20px;
}

.ux {
    margin: 20px;
    max-width: 60%;
}

.donk {
    margin: 0;
    padding: 0;
    max-width: 100%;
}

.compiler {
    position: relative;
}

.compiler img {
    max-width: 100%;
    padding: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.gallery img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 0.0375rem;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.gallery .col-lg-4 {
    padding-bottom: 1rem;
}

.gallery .mb-4 {
    margin-bottom: 1.5rem;
}
