<footer class="site-footer modern-only">
    <ul>
        <li><a href="mailto:tburchard4@gmail.com">Email</a></li>
        <li><a href="https://github.com/turnerburchard">GitHub</a></li>
        <li><a href="https://www.linkedin.com/in/turner-burchard/">LinkedIn</a></li>
        <li><a href="https://www.instagram.com/turner.pic/">Instagram</a></li>
    </ul>
</footer>

<!-- ============================================================
     R E T R O   C H R O M E   ( c ) 1 9 9 7
     ============================================================ -->
<div class="retro-only retro-footer-block">

<center>
<img class="retro-hr" src="/files/retro/gifs/32SCQAQVPJXQ5S5MEKY67NN5YK3E6DK7.gif" alt="">

<img src="/files/retro/gifs/75GWHEOAZ4D5WTTZVR7USY7SK6AMDONY.gif" alt="UNDER CONSTRUCTION" width="300" height="300"><br>
<font face="Impact" size="6" color="#ff0000"><span class="retro-blink">!!! THIS PAGE IS UNDER CONSTRUCTION !!!</span></font><br>
<font face="Comic Sans MS" size="3" color="#ffff00">(please excuse the mess while I update my homepage)</font>
<br><br>

<table border="3" cellpadding="10" cellspacing="0" bgcolor="#000080" width="80%">
  <tr>
    <td align="center">
      <font color="#ffff00" face="Comic Sans MS" size="5"><b>YOU ARE VISITOR NUMBER</b></font><br><br>
      <img src="/files/retro/gifs/3XYHYSNAXF37TH3SBZAS3GBP4NTQR7TW.gif" alt="hit counter" width="120" height="20"><br>
      <span class="retro-counter" style="display:inline-block; background:#000; color:#0f0; font-family:'Courier New',monospace; font-size:1.4rem; padding:4px 12px; border:3px inset #888; letter-spacing:0.3em; margin-top:6px;">000042</span>
      <br><br>
      <font color="#ffffff" face="Times New Roman" size="3">since November 17, 1997!</font>
    </td>
  </tr>
</table>

<br>

<img class="retro-hr" src="/files/retro/gifs/6WTIKNS4Z53OSQ4ZCHWTQUTTUZKXGLRS.gif" alt="">

<table border="4" cellpadding="12" cellspacing="0" bgcolor="#fffff0" width="70%">
  <tr>
    <td align="center">
      <font face="Impact" color="#800080" size="5">WHAT'S NEW</font><br>
      <font face="Comic Sans MS" color="#000080" size="3">
      <img src="/files/retro/gifs/3SRPJKAYTYIVS7NAKKNR6NMOEEUTFOO2.gif" alt="NEW!" align="absmiddle" width="57" height="39"> Photo gallery updated with mountain pics!!<br>
      <img src="/files/retro/gifs/4SOU7UFMMVQNGXFLLIICA7NJ5NITSUKJ.gif" alt="NEW!" align="absmiddle" width="75" height="47"> NEW article on the articles page<br>
      <img src="/files/retro/gifs/72HM4XF32FHKOKAVAV4RZMKAU23MZNJM.gif" alt="NEW!" align="absmiddle" width="32" height="32"> Now working at EM1.com!
      </font>
    </td>
  </tr>
</table>

<br>

<img class="retro-hr" src="/files/retro/gifs/7LLFSQXRRT4KR6VTSWALMVVC2PBXI7OB.gif" alt="">

<table border="3" cellpadding="10" cellspacing="0" bgcolor="#000080" width="70%">
  <tr>
    <td align="center">
      <img src="/files/retro/gifs/3JBOPCYOETGTI3HZDJD4SJR64UW4Q6UW.gif" alt="email" align="absmiddle" width="115" height="101">
      <font face="Comic Sans MS" color="#ffff00" size="5"><b>~ SIGN MY GUESTBOOK!! ~</b></font>
      <img src="/files/retro/gifs/4XLJDP67VRU7IZFMGTH4J7ANQW33NEGQ.gif" alt="email" align="absmiddle" width="115" height="101">
      <br>
      <img src="/files/retro/gifs/23IHNDVDH3HITPZ32434J73QIFTR3YNQ.gif" alt="guestbook" width="90" height="90">
      <br>
      <font face="Times New Roman" color="#ffffff" size="2"><i>Don't be shy! Leave a message before you go!</i></font>
      <br><br>

      <!-- Web3Forms: get an access_key at https://web3forms.com (enter your email, copy key) -->
      <form action="https://api.web3forms.com/submit" method="POST" class="retro-guestbook-form">
        <input type="hidden" name="access_key" value="93626f2e-2eba-4528-9259-7f72c73c2571">
        <input type="hidden" name="subject" value="New guestbook entry on turnerburchard.com!">
        <input type="hidden" name="from_name" value="turnerburchard.com guestbook">
        <input type="checkbox" name="botcheck" style="display:none;" tabindex="-1" autocomplete="off">
        <table border="0" cellpadding="4" cellspacing="0">
          <tr>
            <td align="right"><font face="Comic Sans MS" color="#ffff00" size="3"><b>Your Name:</b></font></td>
            <td><input type="text" name="name" size="28" required></td>
          </tr>
          <tr>
            <td align="right"><font face="Comic Sans MS" color="#ffff00" size="3"><b>From Where:</b></font></td>
            <td><input type="text" name="location" size="28" placeholder="(optional)"></td>
          </tr>
          <tr>
            <td align="right" valign="top"><font face="Comic Sans MS" color="#ffff00" size="3"><b>Message:</b></font></td>
            <td><textarea name="message" rows="4" cols="28" required></textarea></td>
          </tr>
          <tr>
            <td colspan="2" align="center">
              <button type="submit" class="retro-submit-btn">SUBMIT MY ENTRY!!</button>
            </td>
          </tr>
        </table>
      </form>
    </td>
  </tr>
</table>

<br>

<img class="retro-hr" src="/files/retro/gifs/AXNVED2RA774G4OSUHFXJXEWFRY2GWB5.gif" alt="">

<table border="2" cellpadding="8" cellspacing="0" bgcolor="#c0c0c0" width="80%">
  <tr>
    <td align="center">
      <font face="Arial" size="2" color="#000080"><b>~~~ MEMBER OF ~~~</b></font><br>
      <img src="/files/retro/gifs/2WVKHBLL3L3XQ6OEMZ32G2BFCUOZFBBM.gif" alt="webring" width="256" height="192"><br>
      <font face="Arial" size="3" color="#ff0000"><b>The HTML Writers Guild Web Ring</b></font><br>
      <font face="Arial" size="2" color="#000080">
        [ <a href="#">&lt;&lt; PREV</a> ] [ <a href="#">RANDOM</a> ] [ <a href="#">LIST</a> ] [ <a href="#">NEXT &gt;&gt;</a> ]
      </font>
    </td>
  </tr>
</table>

<br>

<font face="Comic Sans MS" color="#ffff00" size="4"><b>~ AWARDS &amp; BADGES ~</b></font><br><br>
<img src="/files/retro/gifs/2HWGKKL26HMWLHET7A5GJT3T5X6XSGLN.gif" alt="Netscape Now!" hspace="6" vspace="4" width="88" height="31">
<img src="/files/retro/gifs/22CRLRXVGQRECX3FBCB3CWDHZ2RXXYQO.gif" alt="Best viewed in Netscape" hspace="6" vspace="4" width="88" height="30">
<img src="/files/retro/gifs/3W6MLPZMWSCCRMHXQ6O3XC6C422W7WGU.gif" alt="Netscape" hspace="6" vspace="4" width="135" height="75">
<img src="/files/retro/gifs/ABJQVSY3VJLPVUMO2QF24NNTX4DWTUMD.gif" alt="HTML" hspace="6" vspace="4" width="50" height="50">
<img src="/files/retro/gifs/4POQMBYDCU5ANQKVIUACZQSNHOGQ4QBL.gif" alt="under construction" hspace="6" vspace="4" width="385" height="250">

<br><br>

<img class="retro-hr" src="/files/retro/gifs/BGY75CJJFJSQAXZGGCX4AZNDCDJNW5OS.gif" alt="">

<font face="Times New Roman" size="3" color="#ffffff">
  This page is best viewed in <b><font color="#00ffff">Netscape Navigator 4.0</font></b> at <b><font color="#ffff00">800x600</font></b> resolution.<br>
  <span class="retro-blink">★</span> Last updated: <b>November 18, 1997</b> <span class="retro-blink">★</span><br>
  <font face="Comic Sans MS" color="#ff00ff" size="2">~~~ Made with Notepad &amp; lots of coffee ~~~</font><br>
  <font size="2" color="#ffffff">&copy; 1997 Turner Burchard. All rights reserved on the World Wide Web.</font>
</font>

<br><br>

<button class="retro-toggle" type="button" aria-label="Toggle 1990s mode"></button>

</center>

</div>

<!-- Modern-mode toggle (tiny, unobtrusive) -->
<div class="modern-only" style="text-align:center; padding: 0 0 1rem;">
    <button class="retro-toggle" type="button" aria-label="Toggle 1990s mode"></button>
</div>
