<div class="retro-only">
  <br />
  <center>
    <img
      class="retro-hr"
      src="/files/retro/gifs/7LLFSQXRRT4KR6VTSWALMVVC2PBXI7OB.gif"
      alt=""
    />
    <br /><br />

    <table
      border="3"
      cellpadding="0"
      cellspacing="0"
      bgcolor="#000080"
      width="100%"
    >
      <tr>
        <td align="center" bgcolor="#ff00ff" colspan="2">
          <font face="Impact" color="#ffff00" size="6"
            >~ A L L &nbsp; A B O U T &nbsp; M E ~</font
          >
        </td>
      </tr>
      <tr>
        <td
          align="center"
          valign="top"
          width="220"
          bgcolor="#fffff0"
          style="padding: 14px"
        >
          <img
            src="/files/me/20240310-DSC07164-Enhanced-NR.jpg"
            width="180"
            alt="me!"
            style="border: 5px ridge #c0c0c0; padding: 3px; background: #fff"
          /><br />
          <font face="Comic Sans MS" color="#800080" size="2"
            ><b>~ that's me! ~</b></font
          >
        </td>
        <td valign="top" bgcolor="#fffff0" style="padding: 14px">
          <font face="Times New Roman" color="#000080" size="3">
            <b><font color="#ff0000">Name:</font></b> Turner Burchard<br />
            <b><font color="#ff0000">Job:</font></b> Software Engineer<br />
            <b><font color="#ff0000">Where:</font></b>
            <a href="https://em1.com">EM1</a> (emergency management software)<br />
            <b><font color="#ff0000">School:</font></b> Montana State (M.S.
            Comp. Sci.)<br />
            <b><font color="#ff0000">Status:</font></b>
            <span class="retro-blink">online!</span><br />
            <b><font color="#ff0000">ICQ #:</font></b> <i>coming soon!</i><br />
            <b><font color="#ff0000">Fav. browser:</font></b> Netscape Navigator
            4.0
          </font>
        </td>
      </tr>
    </table>

    <br />

    <img
      class="retro-hr"
      src="/files/retro/gifs/6WTIKNS4Z53OSQ4ZCHWTQUTTUZKXGLRS.gif"
      alt=""
    />

    <br /><br />

    <font face="Impact" color="#ff00ff" size="6"
      >~ M Y &nbsp; H O B B I E S ~</font
    >
    <table border="0" cellpadding="6" cellspacing="0">
      <tr>
        <td align="right" valign="middle">
          <img
            src="/files/retro/gifs/55IIEWWWHILVVKHYIZFUKOH56BHIHXE5.gif"
            width="55"
            alt=""
            height="9"
          />
        </td>
        <td valign="middle">
          <font face="Comic Sans MS" color="#000080" size="4"
            ><b>Hiking in the mountains</b></font
          >
        </td>
      </tr>
      <tr>
        <td align="right" valign="middle">
          <img
            src="/files/retro/gifs/34VBZKELB3E2ESYZRWANMXWRE76KXR4Q.gif"
            width="55"
            alt=""
            height="41"
          />
        </td>
        <td valign="middle">
          <font face="Comic Sans MS" color="#000080" size="4"
            ><b>Skiing all winter long</b></font
          >
        </td>
      </tr>
      <tr>
        <td align="right" valign="middle">
          <img
            src="/files/retro/gifs/CZ4UR6Z355FUGWQVIRKPPB5CIB2M6JQL.gif"
            width="55"
            alt=""
            height="55"
          />
        </td>
        <td valign="middle">
          <font face="Comic Sans MS" color="#000080" size="4"
            ><b>Rock climbing</b></font
          >
        </td>
      </tr>
      <tr>
        <td align="right" valign="middle">
          <img
            src="/files/retro/gifs/3ABUENKVUE54SFKGOVJDSFCBDTD76S2E.gif"
            width="55"
            alt=""
            height="41"
          />
        </td>
        <td valign="middle">
          <font face="Comic Sans MS" color="#000080" size="4"
            ><b>Photography (see my <a href="/gallery/">gallery</a>!)</b></font
          >
        </td>
      </tr>
      <tr>
        <td align="right" valign="middle">
          <img
            src="/files/retro/gifs/4ESCHAUHB7KFZPOSCPKFYMDJ75WB2UNB.gif"
            width="55"
            alt=""
            height="10"
          />
        </td>
        <td valign="middle">
          <font face="Comic Sans MS" color="#000080" size="4"
            ><b>Writing</b></font
          >
        </td>
      </tr>
    </table>

    <br />

    <img
      class="retro-hr"
      src="/files/retro/gifs/7LLFSQXRRT4KR6VTSWALMVVC2PBXI7OB.gif"
      alt=""
    />

    <br /><br />

    <font face="Impact" color="#ff00ff" size="6"
      >~ C O O L &nbsp; L I N K S ~</font
    ><br />
    <font face="Comic Sans MS" color="#ffff00" size="3"
      ><i>some of my favorite places on the WWW</i></font
    >

    <table
      border="3"
      cellpadding="10"
      cellspacing="0"
      bgcolor="#fffff0"
      width="80%"
    >
      <tr>
        <td align="left">
          <font face="Comic Sans MS" color="#000080" size="3">
            <img
              src="/files/retro/gifs/2OGL5W2BS2CJZAEF7KIEE34GRDI3I4VS.gif"
              align="absmiddle"
              alt="-&gt;"
              width="35"
              height="21"
            />
            <a href="https://github.com/turnerburchard"><b>My GitHub page</b></a
            ><br />
            <img
              src="/files/retro/gifs/2OGL5W2BS2CJZAEF7KIEE34GRDI3I4VS.gif"
              align="absmiddle"
              alt="-&gt;"
              width="35"
              height="21"
            />
            <a href="https://www.linkedin.com/in/turner-burchard/"
              ><b>My LinkedIn</b></a
            ><br />
            <img
              src="/files/retro/gifs/2OGL5W2BS2CJZAEF7KIEE34GRDI3I4VS.gif"
              align="absmiddle"
              alt="-&gt;"
              width="35"
              height="21"
            />
            <a href="https://www.instagram.com/turner.pic/"
              ><b>My Instagram</b></a
            ><br />
            <img
              src="/files/retro/gifs/2OGL5W2BS2CJZAEF7KIEE34GRDI3I4VS.gif"
              align="absmiddle"
              alt="-&gt;"
              width="35"
              height="21"
            />
            <a href="https://em1.com"><b>EM1.com</b></a> — where I work!<br />
            <img
              src="/files/retro/gifs/2OGL5W2BS2CJZAEF7KIEE34GRDI3I4VS.gif"
              align="absmiddle"
              alt="-&gt;"
              width="35"
              height="21"
            />
            <a href="https://www.montana.edu/"
              ><b>Montana State University</b></a
            >
            — go Bobcats!
          </font>
        </td>
      </tr>
    </table>

    <br />

    <img
      class="retro-hr"
      src="/files/retro/gifs/7LLFSQXRRT4KR6VTSWALMVVC2PBXI7OB.gif"
      alt=""
    />
  </center>
</div>
