<!DOCTYPE html>
<html lang="en">
<head>
    {% include meta.html %}
    <title>{{ page.title | default: "Turner Burchard" }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap" rel="stylesheet">
</head>
<body>
{% include nav.html %}
{{ content }}
{% include footer.html %}
{% if page.use_bootstrap_js %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endif %}
{% if page.page_script %}<script src="{{ page.page_script }}"></script>{% endif %}
</body>
</html>
